WIDTH=8;
DEPTH=8192;
ADDRESS_RADIX=HEX;
DATA_RADIX=HEX;
CONTENT BEGIN
  0: b8;
  1: 00;
  2: b8;
  3: 8e;
  4: c0;
  5: 31;
  6: ff;
  7: b9;
  8: d0;
  9: 07;
  a: b8;
  b: 3a;
  c: 08;
  d: f3;
  e: ab;
  f: eb;
  10: fe;
  [11..1fff]: 00;
END;

