db
incremental_db
simulation
timing
greybox_tmp
*.jdi
*.pof
*.sld
*.rpt
*.summary
*.sof
*.done
*.pin
*.bak
*.smsg
*.qws
*.vcd
*.gtkw
*.qqq
*.jic
*.map
.qsys_editundo_redo.txt
PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
output_files
obj_dir
*.o
*.elf
*.lst